<!DOCTYPE html>
<html>
	<head>
		<title>New project</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Welcome</h1>
		<p>There are a few files you should edit before getting started (most of them marked by a <b>'TODO:'</b> note):</p>
		<ul>
			<li>package.json ("name" entry)</li>
			<li>bin/www</li>
			<li>middleware/index.js</li>
			<li>utils/index.js</li>
		</ul>
	</body>
</html>
